@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
	text-align:center;
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(to bottom right, #33adff, #7300e6);
	color:white;
}

#body{
	width:600px;
	padding:30px;
	padding-top: 15px;
	margin:auto; 
	border-radius:5px; 
	text-align: left;
	background-color:rgba(0,0,0,0.6);
	font-size:20px;
	color:white;
}

#name{
	width:560px;
	padding:15px; 
	border-radius:10px;
	border: 0;
	font-size: 15px;
	outline: none;
}
#email{
	width:560px;
	padding:15px; 
	border-radius:10px;
	border: 0;
	font-size: 15px;
	outline: none;
}
#number{
	width:560px;
	padding:15px; 
	border-radius:10px;
	border: 0;
	font-size: 15px;
	outline: none;
}

.container {
  width: 590px;
}
.select-container {
  padding: 10px;
  position: relative;
  border-radius: 10px;
  background: #fff;
}
.select-container select {
  width: 100%;
  border: 0;
  background: transparent;
  font-size: 15px;
  color: rgba(0, 0, 0, .8);
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-container:after {
  content: 'keyboard_arrow_down';
  font-family: 'material icons';
  font-size: 24px;
  color: #666;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

#comments{
	width: 560px;
	height: 100px;
	font-size: 15px;
	border: 0;
	padding: 15px;
	outline: none;
}

#submit{
	width: 590px;
	padding: 15px;
	font-size: 15px;
	border-radius: 5px;
	margin-top: 15px;
	color: white;
	background-color: #3CBFC6;
	border: none;
	cursor: pointer;
}

#submit:hover{
	transform: scale(1.03);
}

.clue {
  margin-left: 2px;
  font-size: 13px;
  color: #e4e4e4;
}

#title {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 40px;
}

#description {
  font-size: 17px;
  margin-bottom:20px;
  margin-top: 0;
}

p{
	margin-bottom: 10px;
	margin-top:  30px;
}

